<div class="banner-section">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-content text-center">
                    <p>Comprehensive IT Infrastructure Solutions</p>
                    <h1>Powering Sustainable Digital Transformation!</h1>
                    <!-- <form class="banner-form">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Keyword:</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        placeholder="Job Title">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail2">Location:</label>
                                    <input type="text" class="form-control" id="exampleInputEmail2"
                                        placeholder="City or State">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="find-btn">
                                    Find A Job
                                    <i class="bx bx-search"></i>
                                </button>
                            </div>
                        </div>
                    </form> -->
                    <!-- <ul class="keyword">
                        <li>Trending Keywords:</li>
                        <li><a href="#">Automotive,</a></li>
                        <li><a href="#">Education,</a></li>
                        <li><a href="#">Health</a></li>
                        <li>and</li>
                        <li><a href="#">Care Engineering</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>



<section class="categories-section pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>OUR CORE BUSINESS</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices.</p> -->
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="job-list.html">
                    <div class="category-card">
                        <i class="flaticon-accounting"></i>
                        <h5>Network & Collaboration</h5>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="job-list.html">
                    <div class="category-card">
                        <i class="flaticon-graduation-cap"></i>
                        <h5>Security</h5>

                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="job-list.html">
                    <div class="category-card">
                        <i class="flaticon-wrench-and-screwdriver-in-cross"></i>
                        <h5>IoT / Smart Solutions</h5>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="job-list.html">
                    <div class="category-card">
                        <i class="flaticon-consultation"></i>
                        <h5>Media</h5>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="job-list.html">
                    <div class="category-card">
                        <i class="flaticon-heart"></i>
                        <h5>Enterprise Computing</h5>

                    </div>
                </a>
            </div>
            <div class="col-lg-3  col-md-4 col-sm-6">
                <a href="job-list.html">
                    <div class="category-card">
                        <i class="flaticon-computer"></i>
                        <h5>Digital Transformation Solutions</h5>

                    </div>
                </a>
            </div>
            <div class="col-lg-3  col-md-4 col-sm-6 offset-md-2 offset-lg-0">
                <a href="job-list.html">
                    <div class="category-card">
                        <i class="flaticon-worker"></i>
                        <h5>Personal Computing</h5>

                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="job-list.html">
                    <div class="category-card">
                        <i class="flaticon-auction"></i>
                        <h5>Opensource</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="why-choose">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 p-0">
                <div class="why-choose-text pt-100 pb-70">
                    <div class="section-title text-center">
                        <h2>ABOUT US</h2>
                        <p>Over the years, ROX has emerged as the go-to partner for businesses seeking end-to-end IT
                            solutions. Our expertise spans from cable to cloud, enabling us to fulfil all your IT needs
                            with seamless efficiency. We take pride in our comprehensive range of offerings, which
                            empower organizations to thrive in today's dynamic digital landscape read more ...</p>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-6">
                            <div class="media">
                                <i class="flaticon-group align-self-center mr-3"></i>
                                <div class="media-body">
                                    <h5 class="mt-0">Best Talented People</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <i class="flaticon-research align-self-center mr-3"></i>
                                <div class="media-body">
                                    <h5 class="mt-0">Easy To Find Canditate</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <i class="flaticon-discussion align-self-center mr-3"></i>
                                <div class="media-body">
                                    <h5 class="mt-0">Easy To Communicate</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <i class="flaticon-recruitment align-self-center mr-3"></i>
                                <div class="media-body">
                                    <h5 class="mt-0">Global Recruitment Option</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row counter-area">
                        <div class="col-md-3 col-6">
                            <div class="counter-text">
                                <h2><span>300+</span></h2>
                                <p>Customers</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="counter-text">
                                <h2><span>180+</span></h2>
                                <p>Certifications</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="counter-text">
                                <h2><span>3+</span></h2>
                                <p>Locations</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="counter-text">
                                <h2><span>0</span></h2>
                                <p>Members</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 p-0">
                <div class="why-choose-img">
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section class="testimonial-section ptb-100">
    <div class="container">
        <div class="section-title text-center">
            <h2>INNOVATIVE AND EFFICIENT IT SOLUTIONS</h2>
            <p >Our networking team consists of leading certified engineers who design, build and implement solutions
                that leverage the latest technological advancements of the industry providing customers with reliable,
                manageable and secure network environment to conduct their business.have vast experience in deploying
                complex solutions that are minimally invasive to the existing setup of the customer, thereby leading to
                a greater ROI and a far secure environment that helps customer manage traffic and have complete control
                over their networks and implement robust security.</p>
        </div>
        <div class="row">
            <div class="testimonial-slider owl-carousel owl-theme">
                <div class="testimonial-items">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6 offset-md-3 offset-lg-0 p-0">
                            <div class="testimonial-img">
                                <img src="assets/img/testimonial-img.jpg" alt="testimonial image">
                            </div>
                            <div class="testimonial-img-text">
                                <h3>Alisa Meair</h3>
                                <p>CEO of Company</p>
                            </div>
                        </div>
                        <div class="col-lg-7 p-0">
                            <div class="testimonial-text">
                                <i class="flaticon-left-quotes-sign"></i>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do mod tempor incididunt
                                    ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus
                                    commodo viverra maecenas accumsan lacus vel facilisis. Lorem Ipsum is simply dummy
                                    text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-items">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6 offset-md-3 offset-lg-0 p-0">
                            <div class="testimonial-img">
                                <img src="assets/img/testimonial-img-2.jpg" alt="testimonial image">
                            </div>
                            <div class="testimonial-img-text">
                                <h3>John Doe</h3>
                                <p>Web Designer</p>
                            </div>
                        </div>
                        <div class="col-lg-7 p-0">
                            <div class="testimonial-text">
                                <i class="flaticon-left-quotes-sign"></i>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do mod tempor incididunt
                                    ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus
                                    commodo viverra maecenas accumsan lacus vel facilisis. Lorem Ipsum is simply dummy
                                    text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                    standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<br>


<section class="candidate-style-two pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>OUR ACCREDITATION</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices.</p> -->
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="candidate-card">
                    <div class="candidate-img">
                        <img src="assets/img/Lenovo_PC-Platinum-Partner.png" alt="candidate image">
                    </div>
                    <div class="candidate-text">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="candidate-card">
                    <div class="candidate-img">
                        <img src="assets/img/Ekahau.png" alt="candidate image">
                    </div>
                    <div class="candidate-text">
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6">
                <div class="candidate-card">
                    <div class="candidate-img">
                        <img src="assets/img/Trend-Micro.png" alt="candidate image">
                    </div>
                    <div class="candidate-text">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="candidate-card">
                    <div class="candidate-img">
                        <img src="assets/img/SAP-Gold-partner.png" alt="candidate image">
                    </div>
                    <div class="candidate-text">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="candidate-card">
                    <div class="candidate-img">
                        <img src="assets/img/palo-alto.png" alt="candidate image">
                    </div>
                    <div class="candidate-text">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="candidate-card"> cloud-logo
                    <div class="candidate-img">
                        <img src="assets/img/Cisco_Silver-Partner.png" alt="candidate image">
                    </div>
                    <div class="candidate-text">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="candidate-card"> 
                    <div class="candidate-img">
                        <img src="assets/img/cloud-logo.png" alt="candidate image">
                    </div>
                    <div class="candidate-text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>