<div class="navbar-area">

    <div class="mobile-nav">
        <a href="index.html" class="logo">
            <img src="assets/img/logo.png" alt="logo">
        </a>
    </div>

    <div class="main-nav navbar-light bg-light" >
        <div class="container" >
            <nav class="navbar navbar-expand-lg navbar-light" >
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/logo-blue.png" alt="logo">
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-dark fw-bold">Home</a>
                            <ul class="dropdown-menu">
                                <!-- <li class="nav-item">
                                    <a href="index.html" class="nav-link active">Home One</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-two.html" class="nav-link">Home Two</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-three.html" class="nav-link">Home Three</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-four.html" class="nav-link">Home Four</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-five.html" class="nav-link">Home Five</a>
                                </li> -->
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="about.html" class="nav-link dropdown-toggle text-dark fw-bold">Solutions</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link active">Application Modernization</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-two.html" class="nav-link">Cloud services</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-three.html" class="nav-link">Network & security</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-four.html" class="nav-link">Structured Cabling Solutions</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-five.html" class="nav-link">Power & Cooling</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-five.html" class="nav-link">AV Solutions</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-five.html" class="nav-link">Data center solutions</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-five.html" class="nav-link">End User computing</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle text-dark fw-bold">Services</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="find-job.html" class="nav-link">Managed Services</a>
                                </li>
                                <li class="nav-item">
                                    <a href="post-job.html" class="nav-link">Professional Services</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a href="job-list.html" class="nav-link">Job List</a>
                                </li>
                                <li class="nav-item">
                                    <a href="job-grid.html" class="nav-link">Job Grid</a>
                                </li>
                                <li class="nav-item">
                                    <a href="job-details.html" class="nav-link">Job Details</a>
                                </li> -->
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle text-dark fw-bold">Company</a>
                            <!-- <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="candidate.html" class="nav-link">Candidates</a>
                                </li>
                                <li class="nav-item">
                                    <a href="candidate-details.html" class="nav-link">Candidates Details</a>
                                </li>
                            </ul> -->
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle text-dark fw-bold">Investor Corner</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="company.html" class="nav-link">Incorporation Details</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pricing.html" class="nav-link">Financial Results</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">INFORMATION FOR SHAREHOLDERS AND DISCLOSURES</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="account.html" class="nav-link">Account</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">Member</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="sign-in.html" class="nav-link">Sign In</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="sign-up.html" class="nav-link">Sign Up</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="reset-password.html" class="nav-link">Reset Password</a>
                                                </li>
                                            </ul>
                                        <li>
                                        <li class="nav-item">
                                            <a href="resume.html" class="nav-link">Resume</a>
                                        </li>
                                    </ul>
                                </li> -->
                                <li class="nav-item">
                                    <a href="404.html" class="nav-link">INFORMATION FOR SHAREHOLDERS AND DISCLOSURES</a>
                                </li>
                                <li class="nav-item">
                                    <a href="testimonial.html" class="nav-link">CORPORATE GOVERNANCE</a>
                                </li>
                                <li class="nav-item">
                                    <a href="faq.html" class="nav-link">IMPORTANT DOCUMENTS</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">POLICIES & OTHER DOCUMENTS</a>
                                </li>
                                <li class="nav-item">
                                    <a href="privacy-policy.html" class="nav-link">Privacy & Policy</a>
                                </li>
                                <li class="nav-item">
                                    <a href="terms-condition.html" class="nav-link">Terms & Conditions</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle text-dark fw-bold">IPO</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="blog.html" class="nav-link">DRHP</a>
                                </li>
                                <li class="nav-item">
                                    <a href="blog-two.html" class="nav-link">RHP</a>
                                </li>
                                <li class="nav-item">
                                    <a href="blog-details.html" class="nav-link">Addendum to DRHP</a>
                                </li>
                                <li class="nav-item">
                                    <a href="blog-details.html" class="nav-link">Abridged Prospectus</a>
                                </li>
                                <li class="nav-item">
                                    <a href="blog-details.html" class="nav-link">Company Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="blog-details.html" class="nav-link">Prospectus</a>
                                </li>
                                <li class="nav-item">
                                    <a href="blog-details.html" class="nav-link">Basis Of Allotment</a>
                                </li>
                                <li class="nav-item">
                                    <a href="blog-details.html" class="nav-link">Others</a>
                                </li>
                            </ul>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="contact.html" class="nav-link">Contact Us</a>
                        </li> -->
                    </ul>
                    <!-- <div class="other-option">
                        <a href="sign-up.html" class="signup-btn">Sign Up</a>
                        <a href="sign-in.html" class="signin-btn">Sign In</a>
                    </div> -->
                </div>
            </nav>
        </div>
    </div>
</div>