<footer class="footer-area pt-50 pb-40 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <!-- <a href="index.html">
                            <img src="assets/img/logo-blue.png" alt="logo">
                        </a> -->
                    </div>
                    <!-- <p>ROX Hi-Tech Limited
                        ROX will be a world class organisation
                        that enhances the quality of life with
                        Tech - solutions that are both innovative and beneficial to all the stakeholders.</p> -->
                    <div class="footer-social" >
                        <h6 class=" text-decoration-underline ">REGISTERED OFFICE</h6>
                        <p class="text-dark">Old #101-B, New No # 160,
                            Mahalingapuram Main Road,
                            Chennai -600 034,</p>
                        <a href="#" target="_blank"><i class="bx bxl-facebook icon-border"></i></a>
                        <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                        <a href="#" target="_blank"><i class="bx bxl-pinterest-alt"></i></a>
                        <a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <!-- <div class="footer-widget pl-60">
                    <h4 class="text-white text-decoration-underline">BRANCH OFFICES</h4>
                    <ul>
                        <li class="pb-3">
                            <a>
                                <i class="bx bx-chevrons-right bx-tada"></i>
                                BANGALORE
                            </a>
                            <p class="mb-0 text-xsm">
                                #1353/433, 3rd Floor, 5th block,
                                HBR layout, BDA layout,
                                Service Road Outer Ring Road,<br>
                                Bangalore -560043
                            </p>
                        </li>
                        <li>
                            <a>
                                <i class="bx bx-chevrons-right bx-tada"></i>
                                AHMEDABAD
                            </a>
                            <p class="mb-0 text-xsm">
                                3rd Floor, Chinubhai House,
                                7-B, Amrutbaug colony,
                                Opp - Sardar Patel Stadium,
                                Near Hindu Colony, Navrangapura,<br>
                                Ahmedabad – 380 014
                            </p>
                        </li>

                    </ul>
                </div> -->
            </div>
            <div class="col-lg-3 col-sm-6">
                <!-- <div class="footer-widget pl-60">
                    <h4 class="text-white text-decoration-underline">BRANCH OFFICES</h4>
                    <ul>
                        <li class="pb-3">
                            <a>
                                <i class="bx bx-chevrons-right bx-tada"></i>
                                HYDERABAD
                            </a>
                            <p class="mb-0 text-xsm">
                                Plot No. 47 48 49 HITECH CITY
                                Street No 1, 2nd Avenue,
                                Patrika Nagar, Sy. No. 77/P,
                                Madhapur Hyderabad Rangareddy<br>
                                Telangana – 500 081
                            </p>
                        </li>
                        <li>
                            <a>
                                <i class="bx bx-chevrons-right bx-tada"></i>
                                NOIDA
                            </a>
                            <p class="mb-0 text-xsm">
                                901, 9th Floor, Tower C,
                                Urbtech Trade Centre,
                                Sector- 132, Noida,<br>
                                Uttar Pradesh - 201304
                            </p>
                        </li>

                    </ul>
                </div> -->
            </div>
            <!-- <div class="col-lg-3 col-sm-6">
                <div class="footer-widget footer-info">
                    <h4 class="text-white text-decoration-underline">CONTACT US</h4>
                    <ul>
                        <li>
                            <span>
                                <i class="bx bxs-phone"></i>
                                Phone:
                            </span>
                            <a href="tel:882569756">
                                +91-44-42068316
                            </a>
                        </li>
                        <li>
                            <span>
                                <i class="bx bxs-envelope"></i>
                                Email:
                            </span>
                           
                            <a>
                                {{emailVar}}
                            </a>

                        </li>
                        <li>
                            
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</footer>