<div class="banner-section banner-style-five">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-content text-center">
                    <h1>Powering Sustainable Digital Transformation!</h1>
                    <p>Comprehensive IT Infrastructure Solutions</p>

                </div>
                <!-- <form class="find-form">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Keyword">
                                <i class="bx bx-search-alt"></i>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Location">
                                <i class="bx bx-location-plus"></i>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <select type="text" class="form-control dropCnl" id="exampleInputEmail2">
                                <option data-display="Category">Choose Category</option>
                                <option value="1">Web Development</option>
                                <option value="2">Graphics Design</option>
                                <option value="4">Data Entry</option>
                                <option value="5">Visual Editor</option>
                                <option value="6">Office Assistant</option>
                            </select>

                        </div>
                        <div class="col-lg-3">
                            <button type="submit" class="find-btn">
                                Search
                                <i class="bx bx-search"></i>
                            </button>
                        </div>
                    </div>
                </form> -->
            </div>
        </div>
    </div>
</div>

<section class="categories-section category-style-three pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>OUR CORE BUSINESS</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">

                <div class="category-card" style="height: 260px;">
                    <i class="flaticon-accounting"></i>
                    <h3>Network & Collaboration</h3>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">

                <div class="category-card" style="height: 260px;">
                    <i class="flaticon-graduation-cap"></i>
                    <h3>Security</h3>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">

                <div class="category-card" style="height: 260px;">
                    <i class="flaticon-wrench-and-screwdriver-in-cross"></i>
                    <h3>IoT / Smart Solutions</h3>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">

                <div class="category-card" style="height: 260px;">
                    <i class="flaticon-consultation"></i>
                    <h3>Media</h3>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">

                <div class="category-card" style="height: 260px;">
                    <i class="flaticon-heart"></i>
                    <h3>Enterprise Computing</h3>
                </div>

            </div>
            <div class="col-lg-3  col-md-4 col-sm-6">

                <div class="category-card" style="height: 260px;">
                    <i class="flaticon-computer"></i>
                    <h3>Digital Transformation Solutions</h3>
                </div>

            </div>
            <div class="col-lg-3  col-md-4 col-sm-6 offset-md-2 offset-lg-0">

                <div class="category-card" style="height: 260px;">
                    <i class="flaticon-worker"></i>
                    <h3>Personal Computing</h3>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">

                <div class="category-card" style="height: 260px;">
                    <i class="flaticon-auction"></i>
                    <h3>Opensource</h3>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="choose-style-two why-choose">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="why-choose-text pt-100 pb-70">
                    <div class="section-title">
                        <h2>Why You Choose Rox?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolorei.</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="media">
                                <i class="flaticon-group align-self-top mr-3"></i>
                                <div class="media-body">
                                    <h5 class="mt-0">Best Talented People</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <i class="flaticon-research align-self-top mr-3"></i>
                                <div class="media-body">
                                    <h5 class="mt-0">Easy To Find Solution</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <i class="flaticon-discussion align-self-top mr-3"></i>
                                <div class="media-body">
                                    <h5 class="mt-0">Easy To Communicate</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <i class="flaticon-recruitment align-self-top mr-3"></i>
                                <div class="media-body">
                                    <h5 class="mt-0">Latest Technologies</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-8 offset-sm-2 offset-lg-0">
                <img src="assets/img/choose.png" alt="why choose image">
            </div>
        </div>
    </div>
</section>

<section class="company-location pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>Branches By Location</h2>
            <p>You can reach out us anywhere in india.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <a href="job-list.html">
                    <div class="location-img">
                        <img src="assets/img/location/1.jpg" alt="location image">
                        <div class="location-text">
                            <div class="d-table">
                                <div class="d-table-cell">
                                    <h3>BANGALORE</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="job-list.html">
                    <div class="location-img">
                        <img src="assets/img/location/2.jpg" alt="location image">
                        <div class="location-text">
                            <div class="d-table">
                                <div class="d-table-cell">
                                    <h3>AHMEDABAD</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a href="job-list.html">
                    <div class="location-img">
                        <img src="assets/img/location/3.jpg" alt="location image">
                        <div class="location-text">
                            <div class="d-table">
                                <div class="d-table-cell">
                                    <h3>HYDERABAD</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a href="job-list.html">
                    <div class="location-img">
                        <img src="assets/img/location/5.jpg" alt="location image">
                        <div class="location-text">
                            <div class="d-table">
                                <div class="d-table-cell">
                                    <h3>NOIDA</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="job-list.html">
                    <div class="location-img">
                        <img src="assets/img/location/4.jpg" alt="location image">
                        <div class="location-text">
                            <div class="d-table">
                                <div class="d-table-cell">
                                    <h3>CHENNAI</h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="job-list.html">
                    <div class="location-img">
                        <img src="assets/img/location/6.jpg" alt="location image">
                        <div class="location-text">
                            <div class="d-table">
                                <div class="d-table-cell">
                                    <h3></h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="job-style-two pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>OUR ACCREDITATION</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspendisse ultrices gravida</p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="job-card-two" style="padding: 10px;">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="">
                                <a href="job-details.html">
                                    <img src="assets/img/Lenovo_PC-Platinum-Partner.png" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="job-info">
                                <h3>
                                    <a href="job-details.html">Lenovo</a>
                                </h3>
                                <ul>
                                    <li>
                                        <i class="bx bx-briefcase text-justify"></i>
                                       <P></P> upport current and future business archiving needs with a fast and efficient
                                        data archiving service, suitable for all storage and formats.
                                    </li>
                                    <!-- <li>
                                        <i class="bx bx-briefcase"></i>
                                        $35000-$38000
                                    </li>
                                    <li>
                                        <i class="bx bx-location-plus"></i>
                                        Wellesley Rd, London
                                    </li>
                                    <li>
                                        <i class="bx bx-stopwatch"></i>
                                        9 days ago
                                    </li> -->
                                </ul>
                                <!-- <span>Full Time</span> -->
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="theme-btn text-end">
                                <a href="job-details.html" class="default-btn">

                                    <i class="bx bx-stopwatch"></i>
                                    9 days ago

                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="job-card-two" style="padding: 10px;">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="">
                                <a href="job-details.html">
                                    <img src="assets/img/Ekahau.png" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="job-info">
                                <h3>
                                    <a href="job-details.html">Ekahau</a>
                                </h3>
                                <ul>
                                    <li>
                                        <i class="bx bx-briefcase text-justify"></i>
                                       <P></P> Support current and future business archiving needs with a fast and efficient
                                        data archiving service, suitable for all storage and formats.
                                    </li>
                                    
                                </ul>
                               
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="job-card-two" style="padding: 10px;">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="">
                                <a href="job-details.html">
                                    <img src="assets/img/Trend-Micro.png" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="job-info">
                                <h3>
                                    <a href="job-details.html">Trend Micro</a>
                                </h3>
                                <ul>
                                    <li>
                                        <i class="bx bx-briefcase text-justify"></i>
                                       <P></P> Support current and future business archiving needs with a fast and efficient
                                        data archiving service, suitable for all storage and formats.
                                    </li>
                                    <!-- <li>
                                        <i class="bx bx-briefcase"></i>
                                        $35000-$38000
                                    </li>
                                    <li>
                                        <i class="bx bx-location-plus"></i>
                                        Wellesley Rd, London
                                    </li>
                                    <li>
                                        <i class="bx bx-stopwatch"></i>
                                        9 days ago
                                    </li> -->
                                </ul>
                                <!-- <span>Full Time</span> -->
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="theme-btn text-end">
                                <a href="job-details.html" class="default-btn">

                                    <i class="bx bx-stopwatch"></i>
                                    9 days ago

                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="job-card-two" style="padding: 10px;">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="">
                                <a href="job-details.html">
                                    <img src="assets/img/SAP-Gold-partner.png" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="job-info">
                                <h3>
                                    <a href="job-details.html">SAP</a>
                                </h3>
                                <ul>
                                    <li>
                                        <i class="bx bx-briefcase text-justify"></i>
                                       <P></P> Support current and future business archiving needs with a fast and efficient
                                        data archiving service, suitable for all storage and formats.
                                    </li>
                                    <!-- <li>
                                        <i class="bx bx-briefcase"></i>
                                        $35000-$38000
                                    </li>
                                    <li>
                                        <i class="bx bx-location-plus"></i>
                                        Wellesley Rd, London
                                    </li>
                                    <li>
                                        <i class="bx bx-stopwatch"></i>
                                        9 days ago
                                    </li> -->
                                </ul>
                                <!-- <span>Full Time</span> -->
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="theme-btn text-end">
                                <a href="job-details.html" class="default-btn">

                                    <i class="bx bx-stopwatch"></i>
                                    9 days ago

                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="job-card-two" style="padding: 10px;">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="">
                                <a href="job-details.html">
                                    <img src="assets/img/palo-alto.png" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="job-info">
                                <h3>
                                    <a href="job-details.html">Palo Alto</a>
                                </h3>
                                <ul>
                                    <li>
                                        <i class="bx bx-briefcase text-justify"></i>
                                        Support current and future business archiving needs with a fast and efficient
                                        data archiving service, suitable for all storage and formats.
                                    </li>
                                    <!-- <li>
                                        <i class="bx bx-briefcase"></i>
                                        $35000-$38000
                                    </li>
                                    <li>
                                        <i class="bx bx-location-plus"></i>
                                        Wellesley Rd, London
                                    </li>
                                    <li>
                                        <i class="bx bx-stopwatch"></i>
                                        9 days ago
                                    </li> -->
                                </ul>
                                <!-- <span>Full Time</span> -->
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="theme-btn text-end">
                                <a href="job-details.html" class="default-btn">

                                    <i class="bx bx-stopwatch"></i>
                                    9 days ago

                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="job-info-two pt-100 pb-70">
    <div class="container">
        <h2 class="text-center text-light">INNOVATIVE AND EFFICIENT IT SOLUTIONS</h2>
        <div class="row mt-5">
            <div class="col-md-6 ">
                <div class="looking-job">
                    <div class="media">
                        <i class="flaticon-group align-self-start mr-3"></i>
                        <div class="media-body">
                            <!-- <h5 class="mt-0">Looking For a Job</h5> -->
                            <p>Our networking team consists of leading certified engineers who design, build and
                                implement solutions
                                that leverage the latest technological advancements of the industry providing customers
                                with reliable,
                                manageable and secure network environment to conduct their business.</p>
                            <!-- <a href="job-list.html">
                                Apply Now
                                <i class="bx bx-chevrons-right"></i>
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="recruiting-card">
                    <div class="media">
                        <i class="flaticon-resume align-self-start mr-3"></i>
                        <div class="media-body">
                            <!-- <h5 class="mt-0">Are You Recruiting?</h5> -->
                            <p>have vast experience in deploying
                                complex solutions that are minimally invasive to the existing setup of the customer,
                                thereby leading to
                                a greater ROI and a far secure environment that helps customer manage traffic and have
                                complete control
                                over their networks and implement robust security.</p>
                            <!-- <a href="post-job.html">
                                Apply Now
                                <i class="bx bx-chevrons-right"></i>
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="counter-section pt-100 pb-70">
    <div class="container">
        <div class="row counter-area">
            <div class="col-lg-3 col-6">
                <div class="counter-text">
                    <i class="flaticon-resume"></i>
                    <h2><span>300+</span></h2>
                    <p>Customers</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="counter-text">
                    <i class="flaticon-recruitment"></i>
                    <h2><span>180+</span></h2>
                    <p>Certifications</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="counter-text">
                    <i class="flaticon-portfolio"></i>
                    <h2><span>3+</span></h2>
                    <p>Locations</p>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="counter-text">
                    <i class="flaticon-employee"></i>
                    <h2><span>0</span></h2>
                    <p>Members</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template *ngFor="let slide of getSlides()" class="slide">
    <li>{{items}}</li>
</ng-template>
<div *ngFor="let slide of getSlides()" class="slide">
    <img [src]="slide" alt="Slide">
</div> -->